# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
global:
  deployment:
    enabled: true
  ingress:
    enabled: true
    ingressClassName: api-nginx
    hosts: 
      - "api.cspconsole.com"
    tls:
      hosts:
        - "*.api.cspconsole.com"

  # Third-party service TLS/SSL certificates
  externalServices:
    elasticsearch:
      # serviceIp: 10.0.0.2
      scheme: https
      hostname: elasticsearch-ingest.default.svc.cluster.local
      port: 9200
      index: csp-reports
      username: elastic
      tls:
        enabled: true
        # CA certificate for Elasticsearch connection
        secretName: ""  # defaults to chart fullname
        secretKey: searchCaCert
    rabbitmq:
      # serviceIp: 10.0.0.1
      scheme: amqps
      hostname: rabbitmq.default.svc.cluster.local
      port: 5671
      queueName: reports
      exchangeName: default-exchange
      username: guest
      tls:
        enabled: true
        # CA certificate for RabbitMQ connection
        secretName: ""  # defaults to chart fullname
        secretKey: queueCaCert
    redis:
      hostname: redis-master.default.svc.cluster.local
      port: 6379
    mysql:
      hostname: mysql.default.svc.cluster.local
      port: 3306
      database: cspconsole
      username: cspconsole-user

reportCollector:
  hpa:
    minReplicas: 2
    maxReplicas: 10
    averageUtilization: 70

  # 15s application + 10s sleep to deregister pod + 5s reserve
  terminationGracePeriod: 30
  secretName: report-collector
  deployment:
    type: RollingUpdate
    maxSurge: 1
    maxUnavailable: 1
  podDisruptionBudget:
    minAvailable: 1


  image:
    repository: cspconsole/report-collector
    tag: latest
    pullPolicy: Always

  service:
    type: ClusterIP
    ports:
      https:
        protocol: TCP
        port: 80
        targetPort: 8000

  resources: {}
    # requests:
      # cpu: 200m
      # memory: 512Mi

    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #  cpu: 100m
    #  memory: 128Mi
    # requests:
    #  cpu: 100m
    #  memory: 128Mi

  nodeSelector: {}
    # node-role: worker

  tolerations: []

  affinity: {}

reportProcessor:
  hpa:
    minReplicas: 5
    maxReplicas: 40
    averageUtilization: 60

  # 15s application + 10s sleep to deregister pod + 5s reserve
  terminationGracePeriod: 30
  secretName: report-processor
  deployment:
    type: RollingUpdate
    maxSurge: 1
    maxUnavailable: 1

  podDisruptionBudget:
    minAvailable: 1

  image:
    repository: cspconsole/report-processor
    tag: latest
    pullPolicy: Always

  logger:
    level: error  # Options: error, warn, info, debug

  nodeSelector: {}
    # node-role: worker
  
  resources: {}
    # requests:
      # cpu: 200m
      # memory: 512Mi
  
  tolerations: []

  affinity: {}

configProvider:
  hpa:
    minReplicas: 1
    maxReplicas: 10
    averageUtilization: 70

  # 15s application + 10s sleep to deregister pod + 5s reserve
  terminationGracePeriod: 30
  #volume:
    #storageClassName:
  secretName: config-provider
  deployment:
    type: RollingUpdate
    maxSurge: 1
    maxUnavailable: 1

  podDisruptionBudget:
    minAvailable: 1

  image:
    repository: cspconsole/config-provider
    tag: latest
    pullPolicy: Always

  envs:
    # dbServiceIp: 10.0.0.1

  service:
    type: ClusterIP
    ports:
      https:
        protocol: TCP
        port: 80
        targetPort: 8000

  resources: {}
    # requests:
      # cpu: 200m
      # memory: 512Mi

    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #  cpu: 100m
    #  memory: 128Mi
    # requests:
    #  cpu: 100m
    #  memory: 128Mi

  nodeSelector: {}
    # node-role: worker

  tolerations: []

  affinity: {}
