# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
global:
  ingress:
      host: "api.cspconsole.com"
      projects:
        - www-example-com
      tls:
        hosts:
          - *.api.cspconsole.com

reportCollector:
  hpa:
    replicaCount: 2
    minAvailable: 1

  # 15s application + 10s sleep to deregister pod + 5s reserve
  terminationGracePeriod: 30
  #volume:
    #storageClassName:
  secret:
    name: cspconsole
  deployment:
    type: RollingUpdate
    maxSurge: 1
    maxUnavailable: 1

  image:
    repository: cspconsole.azurecr.io/cspconsole/app
    tag: 1.x.x
    pullPolicy: Always
      
  service:
    type: ClusterIP
    ports:
      https:
        protocol: TCP
        port: 80
        targetPort: 8000

  resources: {}
    # requests:
      # cpu: 200m
      # memory: 512Mi

    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #  cpu: 100m
    #  memory: 128Mi
    # requests:
    #  cpu: 100m
    #  memory: 128Mi

  nodeSelector:
    agentpool: dynamicpoolb

  tolerations: []

  affinity: {}
configProvider:
  hpa:
    replicaCount: 1
    minAvailable: 1

  # 15s application + 10s sleep to deregister pod + 5s reserve
  terminationGracePeriod: 30
  #volume:
    #storageClassName:
  secret:
    name: cspconsole
  deployment:
    type: RollingUpdate
    maxSurge: 1
    maxUnavailable: 1

  image:
    pullPolicy: Always
    containerRegistryUrl: cspconsole.azurecr.io
    application:
      repositoryPath: /cspconsole/app
      #queue:
        #serviceIp: xxx.xxx.xxx.xxx
      #tag: 1.x.x
      #version: v1.0.0-az-prod
      #env:
        #queueName: "csp-reports"

  service:
    type: ClusterIP
    ports:
      https:
        protocol: TCP
        port: 80
        targetPort: 8000

  resources: {}
    # requests:
      # cpu: 200m
      # memory: 512Mi

    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #  cpu: 100m
    #  memory: 128Mi
    # requests:
    #  cpu: 100m
    #  memory: 128Mi

  nodeSelector:
    agentpool: dynamicpoolb

  tolerations: []

  affinity: {}
